.loginDropdownButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.loginDropdownButtonText {
	width: 340px;
}

.formText {
	font-weight: bold;
	margin-bottom: 10px;
}

.sendBtn {
	margin-left: 38%;
}
